<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<title>Math and Science Summer Program: Machine Learning and Data Science 2021</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
<link rel="stylesheet" href="styles/style.css">
<link rel="stylesheet" media="only screen and (max-width: 770px)" href="styles/tablet-and-phone.css">
<link rel="stylesheet" media="only screen and (max-width: 420px)" href="styles/phone.css">
<link rel="icon" href="favicon.ico" type="image/vnd.microsoft.icon">
<link rel="canonical" href="https://davidrosenberg.github.io/ml2016">

<nav>
    <a href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#resources">Resources</a>
    <a href="#lectures">Lectures</a>
    <a href="#assignments">Assignments</a>
    <a href="#projects">Projects</a>
    <a href="#people">People</a>
</nav>

<section id="home">
    <h1>
        Machine Learning and Data Science
        <span class="course">
            Summer 2021 ·
            <a class="department" href="https://www.masspvn.com">Math and Science Summer Program</a>
        </span>
    </h1>

    {{!-- <table id="course-info">
        <tr>
            <th>Head-mentors</th>
            <td>Nhung Le <a class="icon email" href="mailto:nhung.le71@gmail.com"></a></td>
            <td>Tam Tran <a class="icon email" href="mailto:mtran@em-lyon.com"></a></td>
        </tr>
        <tr>
            <th>Lecture</th>
		    <td>Tuesday 5:20pm–7pm, <a href="https://foursquare.com/v/nyu-global-center-for-academic-and-spiritual-life/4f1d92b8e4b0d79044d54c48">GSACL</a> C95 (<a href="https://goo.gl/maps/ot2J57vL4GL2">238 Thompson St.</a>)</td>
        </tr>
        <tr>
            <th>Lab</th>
		    <td>Wednesday 8:35pm–9:25pm, <a href="https://foursquare.com/v/nyu-global-center-for-academic-and-spiritual-life/4f1d92b8e4b0d79044d54c48">GSACL</a> C95 (<a href="https://goo.gl/maps/ot2J57vL4GL2">238 Thompson St.</a>)</td>
        </tr>
        <tr>
            <th rowspan="3">Office Hours</th>
            <td>Instructor: Wednesdays 5:30-6:30pm (ARRIVE BEFORE 6pm)  <a href="https://goo.gl/VoxR4R">CDS</a> (<a href="https://goo.gl/uU2EwV">60 5th Ave.</a>), 6th floor, Room 650</td>
        </tr>
        <tr>
            <td>TA: Friday 5pm-6pm,  <a href="https://goo.gl/VoxR4R">CDS</a> (<a href="https://goo.gl/uU2EwV">60 5th Ave.</a>), 6th floor, Room 650 </td>
        </tr>
        <tr>
            <td>Graders: Tuesdays 1pm–3pm, <a href="https://goo.gl/VoxR4R">CDS</a> (<a href="https://goo.gl/uU2EwV">60 5th Ave.</a>), 6th floor, Room 606 </td>
        </tr>
    </table> --}}

    {{> this-week thisWeek }}
</section>
<section id="about">
    <h1>About This Program</h1>

    <div class="module">
        <p>This program covers supervised machine learning algorighm of linear regression,
            tree-based methods, and an introduction of neural network.
            While mathematical methods and theoretical aspects will be covered,
            the goal is to provide students with the tools and principles needed
            to solve the data science problems found in practice.
            As a result, we provide labs with real-world problems and end-to-end approaches to solve such problems.
            During and by the end of the course, students will compete on in-class and out-of-class Kaggle competitions
            to practice their knowledge and skills in solving machine learning and deep learning problems.</p>

        {{!-- <p>This course was designed as part of the core curriculum for the Center for Data Science's <a href="http://cds.nyu.edu/academics/ms-in-data-science/">Masters degree in Data Science</a>. Other interested students who satisfy the prerequisites are welcome to take the class as well.  This class is intended as a continuation of <a href="http://cds.nyu.edu/course-pages/ds-ga-1001-intro-data-science/">DS-GA-1001 Intro to Data Science</a>, which covers some important, fundamental data science topics that may not be explicitly covered in this DS-GA class (e.g. data cleaning, cross-validation, and sampling bias).</p>

        <p>We will use <a href="https://piazza.com/">Piazza</a> for class discussion. Rather than emailing questions to the teaching staff, please <a href="https://piazza.com/nyu/spring2017/dsga1003/home">post your questions on Piazza</a>, where they will be answered by the instructor, TAs, graders, and other students.  For questions that are not specific to the class, you are also encouraged to post to <a href="http://stackoverflow.com/">Stack Overflow</a> for programming questions and <a href="http://stats.stackexchange.com/">Cross Validated</a> for statistics and machine learning questions.  Please also post a link to these postings in Piazza, so others in the class can answer the questions and benefit from the answers. --}}

        <!-- Without registering, you can also view an <a href="https://piazza.com/class/i2jg9qgaxwr5fq?cid=14">anonymized version of our Piazza board</a>.</p> -->

        <p>Other information:</p>
        <ul>
            <li>Course details can be found in the <a href="https://davidrosenberg.github.io/mlcourse/syllabusDS-GA1003-Spring2017.pdf">syllabus</a>.</li>
    	    <!--                 <li> Video recordings of lectures can be found at <a href="http://techtalks.tv/machine_learning_spring_2016/">http://techtalks.tv/machine_learning_spring_2016/</a>. -->
            {{!-- <li>The <a href="https://www.google.com/calendar/embed?src=q5os9dtr9kebkkvv17lqtqj5qc%40group.calendar.google.com&ctz=America/New_York">Course Calendar</a> contains all class meeting dates.</li> --}}
            <li>All course materials are stored in a <a href="https://github.com/massp-vn/massp_2021/tree/main/MachineLearning_DataScience/For%20Students">GitHub repository</a>.</li>
            {{!-- <li><em>The course conforms to <a href="http://www.nyu.edu/about/policies-guidelines-compliance/policies-and-guidelines/academic-integrity-for-students-at-nyu.html">NYU’s policy on academic integrity for students</a>.</em></li> --}}
        </ul>
    </div>

    <section>
        <h1>Prerequisites</h1>
        <ul>
            {{!-- <li><a href="https://github.com/briandalessandro/DataScienceCourse/blob/master/ipython/references/Syllabus_2016.pdf"><strong>DS-GA-1001: Intro to Data Science</strong></a> or its equivalent</li>
            <li><a href="http://www.cims.nyu.edu/~cfgranda/pages/DSGA1002_fall15/index.html"><strong>DS-GA-1002: Statistical and Mathematical Methods</strong></a> or its equivalent</li> --}}
            <li><strong>Solid mathematical background</strong>, equivalent to a 1-semester undergraduate
            course in each of the following: linear algebra, multivariate calculus
            (primarily differential calculus), probability theory, and statistics.</li>
            <li><strong>Python programming required</strong> for most homework assignments.</li>
            <li><em>Recommended:</em> Computer science background up to a "data structures and algorithms" course</li>
            <li><em>Recommended:</em> At least one advanced, proof-based mathematics course</li>
            <li>Some prerequisites may be waived with permission of the instructor</li>
        </ul>
    </section>

    {{!-- <section>
        <h1>Grading</h1>
        <p><strong>Homework (35%) + One-Hour Test (15%) + Two-Hour Test (30%) + Project (20%)</strong></p>
        <p>
            Many homework assignments will have problems designated as “optional”.  At the end of the semester, strong performance on these problems may lift the final course grade by up to half a letter grade (e.g. B+ to A-  or A- to A), especially for borderline grades.  You should view the optional problems primarily as a way to engage with more material, if you have the time.  Along with the performance on optional problems, we will also consider significant contributions to Piazza and in-class discussions for boosting a borderline grade.
        </p>
    </section> --}}

    <section>
        <h1>Important Dates</h1>
        <ul>
            <li>See <a href="#assignments">Assignments</a> section for homework-related deadlines.</li>
            <li>See <a href="#project">Project</a> section for Kaggle project-related deadlines.</li>
        </ul>
    </section>


</section>

<section id="resources">
    <h1>Resources</h1>

    <section id="textbooks">
        <h1>Textbooks</h1>

        <a href="http://statweb.stanford.edu/~tibs/ElemStatLearn/"><img src="images/hastie-1x.png" srcset="images/hastie-1x.png 1x, images/hastie-2x.jpg 2x, images/hastie-3x.jpg 3x" alt="The cover of Elements of Statistical Learning"></a>

        <a href="http://www-bcf.usc.edu/~gareth/ISL/"><img src="images/james-1x.jpg" srcset="images/james-1x.jpg 1x, images/james-2x.jpg 2x, images/james-3x.jpg 3x" alt="The cover of An Introduction to Statistical Learning"></a>

        <a href="http://www.cs.huji.ac.il/~shais/UnderstandingMachineLearning/index.html"><img src="images/shalev-shwartz-original.jpg" alt="The cover of Understanding Machine Learning: From Theory to Algorithms"></a>

        <a href="https://research.microsoft.com/en-us/um/people/cmbishop/PRML/"><img src="images/bishop-1x.jpg" srcset="images/bishop-1x.jpg 1x, images/bishop-2x.jpg 2x, images/bishop-3x.jpg 3x" alt="The cover of Pattern Recognition and Machine Learning"></a>

        <a href="http://web4.cs.ucl.ac.uk/staff/D.Barber/pmwiki/pmwiki.php?n=Brml.HomePage"><img src="images/barber-1x.jpg" srcset="images/barber-1x.jpg 1x, images/barber-2x.jpg 2x, images/barber-3x.jpg 3x" alt="The cover of Bayesian Reasoning and Machine Learning"></a>

        <dl>

            <dt><a href="http://statweb.stanford.edu/~tibs/ElemStatLearn/"><cite>The
            Elements of Statistical Learning</cite> (Hastie, Friedman, and Tibshirani)</a>
            <dd>This will be our main textbook for L1 and L2 regularization, trees, bagging, random forests, and boosting.  It's written by three statisticians who invented many of the techniques discussed. There's an easier version of this book that covers many of the same topics, described below. (Available for free as a PDF.)

            <dt><a href="http://www-bcf.usc.edu/~gareth/ISL/"><cite>An Introduction to Statistical Learning</cite> (James, Witten, Hastie, and Tibshirani)</a>
            <dd>This book is written by two of the same authors as The Elements of Statistical Learning. It's much less intense mathematically, and it's good for a lighter introduction to the topics. (Available for free as a PDF.)

    	    <dt><a href="http://www.cs.huji.ac.il/~shais/UnderstandingMachineLearning/index.html/"><cite>Understanding Machine Learning: From Theory to Algorithms</cite> (Shalev-Shwartz and Ben-David)</a>
    	    <dd>Last year this was our primary reference for kernel methods and multiclass classification, and we may use it even more this year.  Covers a lot of theory that we don't go into, but it would be a good supplemental resource for a more theoretical course, such as Mohri's <a href="http://www.cs.nyu.edu/~mohri/ml16/">Foundations of Machine Learning</a> course. (Available for free as a PDF.)

            <dt><a href="https://research.microsoft.com/en-us/um/people/cmbishop/PRML/"><cite>Pattern Recognition and Machine Learning</cite> (Christopher Bishop)</a>
    	    <dd>Our primary reference for probabilistic methods, including bayesian regression, latent variable models, and the EM algorithm.  It's highly recommended, but unfortunately not free online.

    	    <dt><a href="http://web4.cs.ucl.ac.uk/staff/D.Barber/pmwiki/pmwiki.php?n=Brml.HomePage"><cite>Bayesian Reasoning and Machine Learning</cite> (David Barber)</a>
    	    <dd>A very nice resource for our topics in probabilistic modeling, and a possible substitute for the Bishop book.  Would serve as a good supplemental reference for a more advanced course in probabilistic modeling, such as <a href="https://inf16nyu.github.io/home/">DS-GA 1005: Inference and Representation</a> (Available for free as a PDF.)
        </dl>
    </section>

    <section id="references">
        <h1>Other tutorials and references</h1>

        <ul>
            {{!-- <li><a href="http://www.cims.nyu.edu/~cfgranda/pages/DSGA1002_fall15/notes.html">Carlos Fernandez-Granda's lecture notes</a> provide a comprehensive review of the prerequisite material in linear algebra, probability, statistics, and optimization.
    	    <li><a href="http://nbviewer.ipython.org/github/briandalessandro/DataScienceCourse/tree/master/ipython/">Brian Dalessandro's iPython notebooks</a> from <a href="https://github.com/briandalessandro/DataScienceCourse/blob/master/ipython/references/Syllabus_2016.pdf"><strong>DS-GA-1001: Intro to Data Science</strong></a>
            <li><a href="http://www2.imm.dtu.dk/pubdb/views/publication_details.php?id=3274">The Matrix Cookbook</a> has lots of facts and identities about matrices and certain probability distributions. --}}
            <li><a href="http://cs229.stanford.edu/section/cs229-prob.pdf">Stanford CS229: "Review of Probability Theory"</a>
            <li><a href="http://cs229.stanford.edu/section/cs229-linalg.pdf">Stanford CS229: "Linear Algebra Review and Reference"</a>
            <li><a href="http://www.umiacs.umd.edu/~hal/courses/2013S_ML/math4ml.pdf">Math for Machine Learning</a> by Hal Daumé III
        </ul>
    </section>

    <section id="software">
        <h1>Software</h1>

        <ul>
            <li><a href="http://www.numpy.org/">NumPy</a> is "the fundamental package for scientific computing with Python." Our homework assignments will use NumPy arrays extensively.
            <li><a href="http://scikit-learn.org/stable/">scikit-learn</a> is a comprehensive machine learning toolkit for Python.
        </ul>
    </section>
</section>

<section id="lectures">
    <h1>Lectures</h1>

    <ul class="abbreviations">
        <li> (HTF) refers to Hastie, Tibshirani, and Friedman's book <a href="http://statweb.stanford.edu/~tibs/ElemStatLearn/"><cite>The Elements of Statistical Learning</cite></a>
        <li> (SSBD) refers to Shalev-Shwartz and Ben-David's book <a href="http://www.cs.huji.ac.il/~shais/UnderstandingMachineLearning/index.html/"><cite>Understanding Machine Learning: From Theory to Algorithms</cite></a>
        <li> (JWHT) refers to James, Witten, Hastie, and Tibshirani's book <a href="http://www-bcf.usc.edu/~gareth/ISL"><cite>An Introduction to Statistical Learning</cite></a>
        <li> Recordings of lectures / labs can be found in <a href="https://drive.google.com/drive/u/0/folders/1K5-rNfVB2F4OvxN3wT7BUsJovrKS93Ic"><cite>this folder</cite></a>
    </ul>

    {{> lectures lectures }}
</section>

<section id="assignments">
    <h1>Assignments</h1>

    {{!-- <div class="policies">
        <p><strong>Late Policy:</strong> Homeworks are due at {{assignmentsFrontmatter.[Due time]}} on the date specified.  Homeworks will still be accepted for 48 hours after this time but will have a 20% penalty.</p>

        <p><strong>Collaboration Policy:</strong> You may discuss problems with your classmates. However, you must write up the homework solutions and the code from scratch, without referring to notes from your joint session.  In your solution to each problem, you must write down the names of any person with whom you discussed the problem—this will not affect your grade.</p>

        <p><strong>Homework Submission:</strong> Homework should be submitted through <a href="https://gradescope.com">Gradescope</a>.  If you have not used Gradescope before, please watch this short video: <a href="https://gradescope.com/get_started">"For students: submitting homework."</a>  At the beginning of the semester, you will be added to the Gradescope class roster. This will give you access to the course page, and the assignment submission form. To submit assignments, you will need to:</p>
        <ol>
            <li> Upload a single PDF document containing all the math, code, plots, and exposition required for each problem.</li>
            <li> Where homework assignments are divided into sections, <strong>please begin each section on a new page</strong>.</li>
            <li> You will then select the appropriate page ranges for each homework problem, as described in the "submitting homework" video.</li>
        </ol>
        <p><strong>Homework Feedback:</strong> Check <a href="https://gradescope.com">Gradescope</a> to get your scores on each individual problem, as well as comments on your answers. Since Gradescope cannot distinguish between required and optional problems, final homework scores, separated into required and optional parts, will be posted on  <a href="https://newclasses.nyu.edu/portal">NYUClasses</a>.</p>
    </div> --}}

    {{!-- {{> assignments assignments }} --}}

    <p>There is no specific assignment, though there are practices during lectures / labs. Students are encouraged to complete exercises
    before attending lectures / labs.</p>
    </section>
    
</section>

<section id="projects">
    <h1>Projects</h1>
    <section>
    <h1> Overview</h1>
    <p>There are 3 <a href="https://www.kaggle.com">Kaggle</a> projects during the program: two in-class and
    and one out-of-class Kaggle competitions. The in-class competitions happen every two weeks and allow students
    to leverage their understanding of machine learning algorithms while practicing their modeling skills.
    The out-class-competition allow students to engage in-depth with a data science problem.
    Students work on projects in group with guidance from our mentors. Students will also write a final
    report on the out-of-class Kaggle competition, describing the methods and results.</p>
    </section>
    <section>
        <h1>Key Dates</h1>
        <ul>
            <li><strong>10/06/2021</strong>: Deadline to choose Kaggle project group</li>
            <li><strong>12/06/2021</strong>: First meeting with advisor (mentor)</li>
            <li><strong>05/06/2021</strong>: Open First and Second in-class competition</li>
            <li><strong>25/06/2021</strong>: Close First and Second in-class competition</li>
            <li><strong>27/06/2021</strong>: Presentation day for in-class and out-of-class </li>
            <li><strong>31/06/2021</strong>: Final report of out-of-class Kaggle competition</li>
        </ul>
    </section>
    <section>
        <h1>Project Links</h1>
        <ul>
            <li><a href="https://www.kaggle.com/c/massp-housing-prices/overview">Link in-class project 1</a></li>
            <li><a href="https://www.kaggle.com/c/massp2021-1">Link in-class project 2</a></li>
        </ul>
    </section>
    <section>
        <h1>Guidelines for Kaggle Final Project</h1>
        <p>A good project for this class is one that is applicable and is a real problem. 
            That means, the problem has data science applications in real world, ranging 
            from housing price prediction to classifying medical texts.
            The techiques used should be relevant to our class,
            so most likely you will be building a prediction system.</p>
    </section>
</section>

<section id="people">
    <h1>People</h1>

    <section>
        <h1>Head Mentors</h1>

        <div class="person module instructor">
            <img src="images/people/nhung.jpg" alt="A photo of Nhung">
            <div class="info">
                <p class="name"><a href="https://www.linkedin.com/in/nhungle71/">Nhung Le</a></p>
                <p class="bio">Nhung is a machine learning engineer at Apple's Strategic Data Solutions team.
                    She graduated from <a href="https://cds.nyu.edu">NYU's Master in Data Science program</a>.</p>
            </div>
        </div>

        <div class="person module instructor">
            <img src="images/people/Minh Tam Tran.jpg" alt="A photo of Nhung">
            <div class="info">
                <p class="name"><a href="https://www.linkedin.com/in/minh-tam-tran/">Minh Tam Tran</a></p>
                <p class="bio">Minh Tam is a research assistant at <a href="https://cds.nyu.edu">Emlyon business school</a> 
                    and doctoral candidate at <a href="https://www.insa-lyon.fr/en/">INSA Lyon</a>. </p>
            </div>
        </div>
    </section>

    <section>
        <h1>Mentors</h1>

        <div class="person module instructor">
            <img src="images/people/huy.jpg" alt="A photo of Huy Vo">
            <div class="info">
                <p class="name"><a href="https://www.linkedin.com/in/van-huy-vo-461314115/">Huy Vo</a></p>
                {{!-- <p class="email"><a href="mailto:brettb@cims.nyu.edu">brettb@cims.nyu.edu</a></p> --}}
                <p class="bio">Huy is a PhD candidate in Computer Vision, Ecole normale supérieure - INRIA - <a href="https://www.valeo.com/en/valeo-ai/">Valeo.ai</a>.</p>
            </div>
        </div>

        <div class="person module instructor">
            <img src="images/people/co.jpg" alt="A photo of Co Tran">
            <div class="info">
                <p class="name"><a href="https://www.linkedin.com/in/quoc-co-tran-bb4423135/">Co Tran</a></p>
                {{!-- <p class="email"><a href="mailto:vkobzar@cims.nyu.edu">vkobzar@cims.nyu.edu</a></p> --}}
                <p class="bio">Co is a data scientist, at <a href="https://www.sailpoint.com">Sailpoint technologies</a>.</p>
           </div>
        </div>

        <div class="person module instructor">
            <img src="images/people/phuong.png" alt="A photo of Phuong Hoang">
            <div class="info">
                <p class="name"><a href="https://www.linkedin.com/in/nguyen-hoang-phuong-23a67412b/">Phuong Hoang</a></p>
                {{!-- <p class="email"><a href="mailto:vkobzar@cims.nyu.edu">vkobzar@cims.nyu.edu</a></p> --}}
                <p class="bio">Phuong is a Ph.D. in Mathematics. He is a data scientist at <a href="https://torus-actions.fr/language/en/">Torus-Actions</a>.</p>
           </div>
        </div>

        <div class="person module instructor">
            <img src="images/people/MinhTien.jpeg" alt="A photo of Minh Tien">
            <div class="info">
                <p class="name"><a href="https://www.linkedin.com/in/minh-tien-nguyen-484485152/">Tien Nguyen</a></p>
                {{!-- <p class="email"><a href="mailto:vkobzar@cims.nyu.edu">vkobzar@cims.nyu.edu</a></p> --}}
                <p class="bio">Minh Tien is a senior software engineer at SEA.</p>
           </div>
        </div>

        <div class="person module instructor">
            <img src="images/people/Thanh.jpg" alt="A photo of Phuc Thanh">
            <div class="info">
                <p class="name"><a href="https://www.linkedin.com/in/thanh-vuong-182449b0/">Thanh Vuong</a></p>
                {{!-- <p class="email"><a href="mailto:vkobzar@cims.nyu.edu">vkobzar@cims.nyu.edu</a></p> --}}
                <p class="bio">Thanh Vuong is a data scientist at <a href="https://www.sendo.vn">SenDo</a>.
                               He is responsible for developing and deploying machine learning models such as
                               recommender systems and product serarch.</p>
           </div>
        </div>

    </section>

    {{!-- <section class="multiple-people">
        <h1>Graders</h1>

        <ul>
            <li class="person module">
                <img src="images/people/ben.jpg" alt="A photo of Ben Jakubowski">
                <div class="info">
                    <p class="name"><a href="">Ben Jakubowski</a> (Head&nbsp;Grader)</p>
                    <p class="email"><a href="mailto:buj201@nyu.edu">buj201@nyu.edu</a></p>
                    <p class="bio">Ben is a second year Data Science
                    MS student. He also works part-time as a data
                    science instructor with the start-up Cognitir.</p>
                </div>
            </li>
            <li class="person module">
                <img src="images/people/hao.jpg" alt="A photo of Hao Liu">
                <div class="info">
                    <p class="name"><a href="https://github.com/kimiliu1992">Hao Liu</a></p>
                    <p class="email"><a href="mailto:hl2514@nyu.edu">hl2514@nyu.edu</a></p>
                    <p class="bio">Hao is a second year student in the Data Science program at NYU.</p>
                </div>
            </li>
            <li class="person module">
                <img src="images/people/yuhao.jpg" alt="A photo of Yuhao Zhao">
                <div class="info">
                    <p class="name"><a href="">Yuhao Zhao</a></p>
                    <p class="email"><a href="mailto:yuhao.zhao@nyu.edu">yuhao.zhao@nyu.edu</a></p>
                    <p class="bio">Yuhao is a second-year student
                        in the Data Science program at NYU, interested
                        in sequential data learning.</p>
                </div>
            </li>
            <li class="person module">
                <img src="images/people/xinyi.jpg" alt="A photo of Xinyi Gong">
                <div class="info">
                    <p class="name"><a href="https://www.linkedin.com/in/xinyi-gong-5507a872/">Xinyi Gong</a></p>
                    <p class="email"><a href="mailto:xg555@nyu.edu">xg555@nyu.edu</a></p>
                    <p class="bio">Xinyi is a second year student in the Data Science program at NYU.</p>
                </div>
            </li>
            <li class="person module">
                <img src="images/people/lanyu.jpg" alt="A photo of Lanyu Shang">
                <div class="info">
                    <p class="name"><a href="https://www.linkedin.com/in/shanglanyu">Lanyu Shang</a></p>
                    <p class="email"><a href="mailto:lanyu.shang@nyu.edu">lanyu.shang@nyu.edu</a></p>
                    <p class="bio">Lanyu is a second year student in the Data Science program at NYU.</p>
                </div>
            </li>
            <li class="person module">
                <img src="images/people/prithvi.jpg" alt="A photo of Prithvi">
                <div class="info">
                    <p class="name"><a href="https://www.linkedin.com/in/prithvi-gattamaneni-931787115/">Prithvi Krishna Gattamaneni</a></p>
                    <p class="email"><a href="mailto:pkg238@nyu.edu">pkg238@nyu.edu</a></p>
                    <p class="bio">PK is in his final semester of his pursuit of an MSCS degree. Prior to this he worked for Morgan Stanley and is currently focused on the Machine learning space.</p>
                </div>
            </li>
        </ul>
    </section>

    <section class="multiple-people">
        <h1>Project Advisers</h1>

        <ul>
            <!-- <li class="person module">
                 <img src="images/people/vikas.jpg" alt="A photo of Dr. Vikas Sindhwani">
                 <div class="info">
                 <p class="name"><a href="http://vikas.sindhwani.org/">Dr. Vikas Sindhwani</a>
         <p class="bio">Vikas is currently at Google Research NYC.
                 </div>
           -->
            <li class="person module">
                <img src="images/people/kurt.jpg" alt="A photo of Kurt Miller">
                <div class="info">
                    <p class="name"><a href="http://ai.stanford.edu/~tadayuki/">Kurt Miller</a></p>
                    <p class="bio">Kurt is a researcher at the quantitative hedge fund PDT Partners.</p>
                </div>
            </li>
            <li class="person module">
                <img src="images/people/brian.jpg" alt="A photo of Brian Dalessandro">
                <div class="info">
                    <p class="name"><a href="https://www.linkedin.com/in/briandalessandro/">Brian d'Alessandro</a></p>
                    <p class="bio">Brian is Director of Data Science at Zocdoc, and he was formerly the VP of Data Science at Dstillery.  He is also an Adjunct Professor of Data Science at NYU Stern School of Business.</p>
                </div>
            </li>
            <li class="person module">
                <img src="images/people/bonnie.jpg" alt="A photo of Bonnie Ray">
                <div class="info">
                    <p class="name"><a href="https://www.linkedin.com/in/bonnie-ray-38807a8">Bonnie Ray</a></p>
                    <p class="bio">Bonnie is VP Data Science at Pegged Software. Prior to Pegged, she was Director, Cognitive Algorithms, at IBM Research and has also served on the faculty at the New Jersey Institute of Technology.</p>
                </div>
            </li>

            <li class="person module">
                <img src="images/people/daniel.jpg" alt="A photo of Daniel Chen">
                <div class="info">
                    <p class="name"><a href="http://nber.org/~dlchen/">Daniel L. Chen</a></p>
                    <p class="bio">Daniel is at the Institute for Advanced Studies
                        in Toulouse and Toulouse School of Economics. He is a former Chair of Law and Economics at
                        ETH Zurich (2012-2015), Duke Assistant Professor of Law, Economics, and Public Policy (2010-2012), and Kauffman Fellow at the University of Chicago Law School (2009-2010).</p>
                </div>
            </li>
            <li class="person module">
                <img src="images/people/vitaly.jpg" alt="A photo of Vitaly Kuznetsov">
                <div class="info">
                    <p class="name"><a href="http://cims.nyu.edu/~vitaly/">Vitaly Kuznetsov</a></p>
                    <p class="bio">Vitaly is a Research Scientist at Google Research, New York.</p>
                </div>
            </li>
            <li class="person module">
                <img src="images/people/elliott.jpg" alt="A photo of Elliott Ash">
                <div class="info">
                    <p class="name"><a href="http://elliottash.com/">Elliott Ash</a></p>
                    <p class="bio">Elliott is a Visiting Scholar at Princeton
                    University's Woodrow Wilson School of Public Affairs and
                    Assistant Professor of Economics at University of Warwick.
                    His research combines methods from applied
                    microeconometrics, natural language processing, and machine
                    learning to provide empirical evidence on the socioeconomic
                    impacts of legal and political institutions.</p>
                </div>
            </li>

        </ul>
    </section> --}}
</section>

<footer>
    <p>This website is developed <a href="https://github.com/davidrosenberg/ml2017/">on GitHub</a>; feel free to <a href="https://github.com/davidrosenberg/ml2017/issues">report issues or send feature requests</a>.</p>
</footer>

<script async defer src="scripts/navigation.js"></script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                             m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-64247420-3', 'auto');
    ga('send', 'pageview');

</script>
